<!-- Begin .header -->
<header data-swiftype-index='false' class="site-header app">
	<div class="row">
    <div class="small-24 columns">
      <a href="http://beta.phila.gov/" class="logo">
        <img data-interchange="[//cityofphiladelphia.github.io/patterns/images/city-of-philadelphia-mobile.png, small], [//cityofphiladelphia.github.io/patterns/images/city-of-philadelphia-white.png, medium]" src="//cityofphiladelphia.github.io/patterns/images/city-of-philadelphia-white.png" alt="City of Philadelphia">
      </a>
      <div class="page-title-container">
        <a href="#/">
          <h1 class="page-title">Greenworks Dashboard</h1>
          <!-- <h2 class="page-subtitle">An optional subtitle</h2> -->
        </a>
      </div>
    </div>
  </div>
  {% include breadcrumbs.html %}
</header>


<!-- Begin header -->
<!-- <header data-swiftype-index='false' class="site-header app">
  <div class="row">
    <div class="small-24 columns">
      <a href="http://alpha.phila.gov/" class="logo">
        <img data-interchange="[//cityofphiladelphia.github.io/patterns/images/city-of-philadelphia-mobile.png, small], [//cityofphiladelphia.github.io/patterns/images/city-of-philadelphia-white.png, medium]" src="//cityofphiladelphia.github.io/patterns/images/city-of-philadelphia-white.png" alt="City of Philadelphia">
      </a>
      <div class="page-title-container">
        <a href="#/">
          <h1 class="page-title">Application Name With a Long Title</h1>
          <h2 class="page-subtitle">An optional subtitle</h2>
        </a>
      </div>
    </div>
  </div>
  <div class="row expanded">
    <div class="small-24 small-centered columns">
      <div class="title-bar" data-responsive-toggle="site-nav" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle><span class="title-bar-title">Menu</span></button>
</div> -->
